* {
  font-family: $base-font-family;
}

body {
  font-size: 18px;
}

a, a:visited, a:active {
  color: $dark-gray;
  text-decoration: none;
}

a:hover {
  color: $pure-black;
}

.container {
  max-width: $site-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

// Header ----------------------------------

header {
  height: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6em;
  border-bottom: 1px solid $light-gray;

  .site-title {
    font-weight: $normal-weight;
    margin: auto 0;
  }
}

#navbar {
  display: flex;
  align-items: center;
  font-size: 0.7em;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0 auto;

    li {
      padding: 0 0 0 15px;
    }
  }
}

.menu-button {
  height: 40px;
  width: 40px;
  display: none;

  svg {
    color: $dark-gray;
  }
}

// Main ----------------------------------

main {
  margin: 50px 0;
}

.recent-post-title {
  margin-bottom: 10px;
}

.post-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 7px 0;

  .post-date {
    padding-right: 15px;
    color: $pure-black;
    font-weight: $bold-weight;
    min-width: 6.5em;
  }

  .post-title {
    font-weight: $normal-weight;
    // padding: 5px 10px 5px 0;
    padding-right: 10px;
    flex: 1 1;
  }

  .post-category {
    color: $dark-gray;
    font-size: 0.8em;
    margin-left: auto;
  }
}

// Footer ----------------------------------

footer {
  margin-top: 8em;
  font-size: 0.8em;
  text-align: center;
}


// For mobile
@media screen and (max-width: 600px) {
  #navbar {
    display: none;
  }

  #navbar.show {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: $white;
    opacity: 0.85;

    ul {
      flex-direction: column;

      li {
        padding: 7px 0;
      }
    }
  }

  .menu-button {
    display: block;
    z-index: 999;
    margin-top: auto;
    margin-bottom: auto;
  }

  .post-item {
    .post-date {
      order: 1;
      color: $medium-gray;
      font-weight: $normal-weight;
      font-size: 0.8em;
      padding-right: 5px;
    }

    .post-title {
      flex: 1 0 100%;
      padding: 5px 10px 0 0;
      order: 3;
    }

    .post-category {
      order: 2;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

// For tablet
@media screen and (max-width: 768px) {
}
