$base-font-family: "Iosevka";
$normal-weight: 400;
$bold-weight: 700;

// size
$site-width: 800px;
$header-height: 100px;

// color
$pure-black: #000;

$white: #fff;

$dark-gray: #444;
$medium-gray: #888;
$light-gray: #ccc;
